.App {
  margin: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  text-align: center;
}

main {
}

.todo-item {
  display: flex;
  justify-content: space-between;
  background-color: aliceblue;
  border: 1px black solid;
  user-select: none;
}

.strike-thru {
  text-decoration: line-through;
}

.icon-delete {

}


.icon-container:hover .icon-complete{
  display: none;
}

.icon-container:hover .icon-delete::before {
  content: '🗑️'
}